/**
 * @name Discord- (Source - Extras)
 * @source https://github.com/kajussls121/discord-plus-yes
 * @updateUrl https://kajussls121.github.io/discord-plus-yes/src/DiscordMinus-extras.theme.css
 * @version 1.00
*/
.theme-light [data-list-item-id="channels___554914403011526675"] .name__27f04 {
  background: no-repeat url(https://kajussls121.github.io/discord-plus-yes/assets/wordmark_black.svg);
}

[data-list-item-id="channels___554914403011526675"]:hover .name__27f04 { opacity: 0.75 }

/* PLEASE READ THE FAQ */
[data-list-item-id="channels___804000972568526889"] .channelName-3KPsGw {
  width: min-content;
  border-radius: var(--dplus-radius-ui);
  border: 3px solid red;
  padding: 3px;
}
[data-list-item-id="channels___804000972568526889"] .channelName-3KPsGw::after {
  content: " <- READ FIRST";
  color: red;
}

.theme-dark { --dplus-badge-memberlist: url("https://kajussls121.github.io/discord-plus-yes/assets/discord/home_dark_default.svg"); }
.theme-light { --dplus-badge-memberlist: url("https://kajussls121.github.io/discord-plus-yes/assets/discord/home_light.svg"); }